#root, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsla(185, 96%, 56%, 1);

  background: linear-gradient(45deg, hsla(185, 96%, 56%, 1) 0%, hsla(217, 100%, 50%, 1) 100%);

  background: -moz-linear-gradient(45deg, hsla(185, 96%, 56%, 1) 0%, hsla(217, 100%, 50%, 1) 100%);

  background: -webkit-linear-gradient(45deg, hsla(185, 96%, 56%, 1) 0%, hsla(217, 100%, 50%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#23E8FA", endColorstr="#0061FF", GradientType=1 );
}